@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1607088149916'); /* IE9 */
  src: url('iconfont.eot?t=1607088149916#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKgAAsAAAAABmAAAAJVAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgo4VQE2AiQDDAsIAAQgBYRtB0UbqgURFYw9sq8xNoZWjwSis7VdjllRBCcvv0A5giVvgLagAhIAAAAAIB7+W+N338zsfhFJ5kAyl8ShkcmQGiESEiG5hPzhe2/vu9sc0UbLUtOyszmrSU2YU3NF2cyhB5KF+9ITZELL9QAg878GELio1w8Vy+fawCIVXkJ8pfo8l9ObQAey+pbltDeNtfyoF2AcUKB7YJusiALghulFDOLXeQLNxi2I3ZfDp0URTQvE4+XeDeklFIWVG4V6Zm0hXqo0pp/Ci/L78de6CJIqE809fnfPbfe7j2u6nBOSBLi5QsYCCnF1tnCeBOOyZqvX62tFSHeln1Jr7fVP/3iJqIlaW8EMLCa+myoJfrZBAhnU/VKNDsT2nhYi6+G9Z3dv/6H2YfX4v7Rfhz+Th+0g97sIBBu/Kg43Jgbe/hW6i30hGr8QDEJEt7OrWEPky0VrU623Z5YjAdU8bE0U6fbhvL1vdyehUd+JUIOxFlmjCbKwC6i02IBao21oNm/f5hY9npAoA+Y8BwidXiFp9xpZpzdkYd+j0u8/ap0haGKv2O2Z2McSHzV2Fkfof7AMgpMkYOOq/YaTo53uGkr+hdosaaiLali+Ikd9xwLjp8ZaAkQLBhdwGVIqQGqx4mCL2VrZliWZe1MxCBbFjjTUsdAI9H7AYiBwJO9vxaPP36CJQ3X0iqxRfUGasQwPaoVqB3m18l2yf7nG8CYNyyIAoQkMuIBRiKIEIOdHrdDAKswnclKrjHuRvdbifTsL3wFgil6iaKUy2VO9dHyimI8i8MSsuWEdpbmTUQQA') format('woff2'),
  url('iconfont.woff?t=1607088149916') format('woff'),
  url('iconfont.ttf?t=1607088149916') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1607088149916#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triangle-down:before {
  content: "\e516";
}

.icon-sj-small-up:before {
  content: "\e7a9";
}

